{% extends 'vehicles/base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}

        {% bootstrap_css %}

            <link rel="stylesheet" href="{% static 'css/profpic.css' %}">

            <link rel="stylesheet" href="{% static 'css/rider.css' %}">

    {% endblock %}

</head>
<body>

    {% block content %}

        {{ block.super }}


            <div class="container">

                <h1 class="text-center"> PROFILE </h1>

                <hr>

                <div class="row">

                    <a href="{% url 'index-driver' %}" class="btn btn-default"> Profile </a>

                    <a href="" class="btn btn-default"> Manage Documents </a>

                    <a href="{% url 'vehicle' %}" class="btn btn-default"> Vehicles </a>

                    <a href="{% url 'driver-location' %}" class="btn btn-default"> Location </a>

                    <a href="{% url 'driver-reviews' user.id %}" class="btn btn-default"> Reviews </a>

                    <a href="{% url 'book' user.id %}" class="btn btn-default"> Book </a>

                    <a href="/landing" class="btn btn-default" style="float: right;"> Sign In as Rider </a>

                </div>

                <hr>

                <h2> Location Info on Driver </h2>

                <hr>

                <div class="row">

                    {% for vehicle in car %}


                    <div class="col-sm-5 col-md-5">

                        <img src="{{ vehicle.image.url}}" alt="image" class="img-responsive">

                    </div>

                    <div class="col-sm-7 col-md-7">

                        <div class="row">

                            <div class="col-sm-6 col-md-6">

                                <h3> Make </h3>

                                <p style="text-align: center"> {{ vehicle.make }}</p>

                            </div>

                            <div class="col-sm-6 col-md-6">

                                <h3> Model </h3> <br>

                                <p style="text-align: center"> {{ vehicle.model }} </p>

                            </div>

                        </div>

                        <div class="row">

                            <h3> Registration </h3>

                            <p style="text-align: center"> {{ vehicle.registration }}</p>

                        </div>

                        {% endfor %}


                        <div class="row">

                            <div class="col-sm-6 col-md-6">

                                <h3> Current Location </h3>

                                {% for location in location %}

                                <p style="text-align: center"> {{ location.place }}</p>

                                {% endfor %}


                            </div>

                            <div class="col-sm-6 col-md-6">

                                <h3> Destination </h3>

                                {% for location in location %}

                                <p style="text-align: center"> {{ location.destination }} </p>

                                {% endfor %}

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 col-md-6">

                                <h3> Total Seats  </h3>

                                {% for location in location %}

                                <p style="text-align: center"> {{ location.total_riders }}</p>

                                {% endfor %}

                            </div>

                            <div class="col-sm-6 col-md-6">

                                <h3> Free Seats </h3>

                                {% for location in location %}

                                <p style="text-align: center"> {{ location.needed_riders }} </p>

                                {% endfor %}

                            </div>

                        </div>

                    </div>

                    <hr>

                    <div class="row" style="text-align: center;">

                        <a href="{% url 'update_driver_location_details' %}" class="btn btn-default"> Update </a>

                    </div>

                </div>

                <br>

                <div class="row">

                    <div id="map"></div>
                    <script>
                        // Note: This example requires that you consent to location sharing when
                        // prompted by your browser. If you see the error "The Geolocation service
                        // failed.", it means you probably did not give permission for the browser to
                        // locate you.
                        var map, infoWindow;

                        function initMap() {
                            map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: -34.397, lng: 150.644},
                                zoom: 15
                            });


                            infoWindow = new google.maps.InfoWindow;

                            // Try HTML5 geolocation.
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(function (position) {
                                    var pos = {
                                        lat: position.coords.latitude,
                                        lng: position.coords.longitude
                                    };

                                    var marker = new google.maps.Marker({
                                        position: pos,
                                        map: map
                                    });

                                    var directionsDisplay = new google.maps.DirectionsRenderer({map: map});

                                    var stepDisplay = new google.maps.InfoWindow;


                                    infoWindow.setPosition(pos);
                                    infoWindow.open(map);
                                    map.setCenter(pos);
                                }, function () {
                                    handleLocationError(true, infoWindow, map.getCenter());
                                });
                            } else {
                                // Browser doesn't support Geolocation
                                handleLocationError(false, infoWindow, map.getCenter());
                            }
                        }

                        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                            infoWindow.setPosition(pos);
                            infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
                            infoWindow.open(map);
                        }

                    </script>

                </div>

            </div>

    {% endblock %}


    {% block scripts %}

            <script type="text/javascript" src="{% static 'js/map.js' %}"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqU-vgzJDJletUr1_O7AcnF8f0es1obu8&callback=initMap">
            </script>

            <script type="text/javascript"charset="utf-8">google.load("maps","2.x"); google.load("jquery","1.3.1");</script>

        {% bootstrap_javascript %}

    {% endblock %}

</body>
</html>