{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}

        {% bootstrap_css %}

            <link rel="stylesheet" href="{% static 'css/profpic.css' %}">

            <link rel="stylesheet" href="{% static 'css/travel.css' %}">

    {% endblock %}

</head>
<body>

    {% block content %}

        {{ block.super }}

            <div class="container">

                <h1 class="text-center"> PROFILE </h1>

                <hr>

                <h2> General Information </h2>

                <hr>

                <div class="row">

                    <a href="{% url 'index-rider' %}" class="btn btn-default"> Profile </a>

                    <a href="{% url 'travel' %}" class="btn btn-default"> Travel </a>

                    <a href="{% url 'driver-list' %}" class="btn btn-default"> Drivers </a>

                    <a href="{% url 'rider-reviews' user.id %}" class="btn btn-default"> Reviews </a>

                    <a href="/landing" class="btn btn-default" style="float: right;"> Sign In as Driver </a>

                </div>

                <hr>


                <div class="row">

                    <div class="col-sm-5 col-md-5" style="text-align: center">

                        {% for profile in profile %}

                            <img src="{{ profile.profpic.url}}" alt="image" class="img-responsive">

                        {% endfor %}

                    </div>

                    <div class="col-sm-7 col-md-7">

                        <div class="row">

                            <div class="col-sm-6 col-md-6">

                                <h3> Name </h3> <br>

                                <div class="row" style="text-align: center">

                                    <div class="col-sm-6 col-md-6">

                                        {{ user.first_name }}

                                    </div>

                                    <div class="col-sm-6 col-md-6">

                                        {{ user.last_name }}

                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6 col-md-6">

                                <h3> Mobile </h3> <br>

                                {% for profile in profile %}

                                <p style="text-align: center"> {{ profile.mobile }}</p>

                                {% endfor %}

                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-6 col-md-6">

                                <h3> Current Location </h3> <br>

                                {% for traveling in traveling %}

                                    <p style="text-align: center"> {{ traveling.location }} </p>

                                {% endfor %}

                            </div>

                            <div class="col-sm-6 col-md-6">

                                <h3> Destination </h3> <br>

                                {% for traveling in traveling %}

                                    <p style="text-align: center"> {{ traveling.destination }} </p>

                                {% endfor %}

                            </div>

                        </div>

                    </div>

                </div>

                <hr>

                <div class="row" style="text-align: center;">

                    <a href="{% url 'update-travel-details' %}" class="btn btn-default"> Update</a>

                </div>

                <br>

                <div class="row">

                    <div id="map"></div>
                <script>

                </script>

                </div>

            </div>

    {% endblock %}



    {% block scripts %}

            <script type="text/javascript" src="{% static 'js/map.js' %}"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqU-vgzJDJletUr1_O7AcnF8f0es1obu8&callback=initMap">
            </script>

            <script type="text/javascript"charset="utf-8">google.load("maps","2.x"); google.load("jquery","1.3.1");</script>

        {% bootstrap_javascript %}

    {% endblock %}

</body>
</html>