{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}

        {% bootstrap_css %}

            <link rel="stylesheet" href="{% static 'css/profpic.css' %}">

            <link rel="stylesheet" href="{% static 'css/rider.css' %}">

    {% endblock %}

</head>
<body>


    {% block content %}

        {{ block.super }}

            <div class="container">

                <h1 class="text-center"> PROFILE </h1>

                <hr>

                <h2> General Information </h2>

                <hr>

                <div class="row">

                    <a href="{% url 'index-rider' %}" class="btn btn-default"> Profile </a>

                    <a href="{% url 'travel' %}" class="btn btn-default"> Travel </a>

                    <a href="{% url 'driver-list' %}" class="btn btn-default"> Drivers </a>

                    <a href="{% url 'rider-reviews' user.id %}" class="btn btn-default"> Reviews </a>

                    <a href="/landing" class="btn btn-default" style="float: right;"> Sign In as Driver </a>

                </div>

                <hr>


                {% for review in comments %}

                    <div class="row">

                        <p> @{{ review.user.username }} {{ review.review }} </p>

                    </div>

                {% endfor %}


                <form action="{% url 'rider-reviews' user.id %}" method="post">

                    {% csrf_token %}

                        {% bootstrap_form form %}

                    <input type="submit" class="text-center"> Review </input>

                </form>

            </div>

    {% endblock %}